In [ ]:
# Budget
# https://docs.google.com/spreadsheets/d/1cLjC6PRXaL-gwJtD0x_LQntQkV-P7qVxNgSLgwVx_bs/edit#gid=1165305079
# F2
# https://docs.google.com/spreadsheets/d/1uKZ6cHs_J6eG0BRMdh6Tu1gFQwfOxjtQTsgzcN_DfD4/edit#gid=1165305079
# F3
# https://docs.google.com/spreadsheets/d/1surxobgcu-oSM8btzcmqpWX-Yp-J8AJz1gbuD1MHSgw/edit#gid=1165305079
# F4
# https://docs.google.com/spreadsheets/d/13v41sXWwwlnZjpF6A_IzPXJp_lxgHFMgGC5AJfRapfs/edit#gid=1147037900

In [1]:
# QBO Account
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

db='copper_cow_coffee_qbo'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('/home/'+getpass.getuser()+'/data_loads/qb_files/')

connection.execute('TRUNCATE TABLE '+db+'.account')
df = pd.read_excel('CCCAccount.xlsx',skiprows=4,
                   names=['undefined','AccountNumber','AccountName','AccountType','DetailType','Currency','Balance','BankBalance','action'])
df.drop(['undefined','action'],axis=1,inplace=True)
df.to_sql('account',engine,if_exists='append',index=False,chunksize=1000)
print(pd.read_sql("SELECT * FROM "+db+".mapped_accounts WHERE account_name LIKE '%%MAP%%'",connection))
connection.close()

Empty DataFrame
Columns: [account_name, category, qb_account_number, qb_account_name, qb_account_type, mapping_type, cash_flow_classification, department, parent_account, channel]
Index: []

In [2]:
# QBO AccountList
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os


db='copper_cow_coffee_qbo'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('/home/'+getpass.getuser()+'/data_loads/qb_files/')

start_time = datetime.datetime.now()

connection.execute("UPDATE "+db+".mapped_accounts SET parent_account = ''")
df = pd.read_excel('CCCAccountList.xlsx',skiprows=5,names=['del1','AccountNumber','AccountName','AccountType','DetailType'])

for index,row in df[df['AccountName'].str.contains(':')].iterrows():
    connection.execute("UPDATE "+db+".mapped_accounts SET parent_account = '"+row['AccountName'].split(':')[0]+"' WHERE qb_account_number = '"+str(row['AccountNumber'])+"'")

parent_df = df[df['AccountName'].str.contains(':')]
parent_list = []    

for index,row in parent_df.iterrows():
    parent_list.append(row['AccountName'].split(':')[0])

for index,row in df[df['AccountName'].isin(parent_list)].iterrows():
    connection.execute("UPDATE "+db+".mapped_accounts SET parent_account = '"+row['AccountName']+"' WHERE qb_account_number = '"+str(row['AccountNumber'])+"'")

print('AccountList loaded into '+db+' | Time: '+str(datetime.datetime.now()-start_time))
connection.close()

AccountList loaded into copper_cow_coffee_qbo | Time: 0:00:13.257742

In [3]:
# QBO Adjust General Ledger Account Numbers
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

db='copper_cow_coffee_qbo'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
connection.execute("UPDATE "+db+".general_ledger \
SET AccountNumber = LEFT(`AccountNumber`,(char_length(`AccountNumber`) - 1)) \
WHERE AccountNumber LIKE '%%.%%' AND AccountNumber LIKE '%%0'")
connection.close()

In [4]:
# QBO TD Helper
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import numpy as np

db='copper_cow_coffee_qbo'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

start_time=datetime.datetime.now()

df = pd.read_sql("SELECT AccountNumber,Account,mapped_accounts.qb_account_type AccountType,min(Date)min_date,(SELECT max(Date) FROM "+db+\
                 ".general_ledger) max_date FROM "+db+".general_ledger LEFT JOIN "+db+".mapped_accounts ON \
                 CASE WHEN general_ledger.AccountNumber LIKE '%%0' AND general_ledger.AccountNumber LIKE '%%.%%' THEN LEFT(general_ledger.AccountNumber,(char_length(general_ledger.AccountNumber) - 1)) \
                 ELSE copper_cow_coffee_qbo.general_ledger.AccountNumber END = copper_cow_coffee_qbo.mapped_accounts.qb_account_number \
                 WHERE mapped_accounts.mapping_type ='Balance Sheet' \
                 GROUP BY AccountNumber",connection)

date_list = []
account_list = []
account_type_list = []

query_dict = df.to_dict()

for i in range(len(query_dict['AccountNumber'])):
    dr = pd.date_range(query_dict['min_date'][i],query_dict['max_date'][i],freq='MS').strftime('%Y-%m-%d').tolist()
    date_list.extend(dr)
    account_list.extend([query_dict['Account'][i]]*len(dr))
    account_type_list.extend([query_dict['AccountNumber'][i]]*len(dr))

d = {'Date':date_list,'Account':account_list,'AccountNumber':account_type_list}
td_helper = pd.DataFrame(d)
td_helper['TransactionType'] = np.nan
td_helper['Num'] = np.nan
td_helper['Adj'] = np.nan
td_helper['CreateDate'] = np.nan
td_helper['CreatedBy'] = np.nan
td_helper['LastModified'] = np.nan
td_helper['LastModifiedBy'] = np.nan
td_helper['Name'] = np.nan
td_helper['Customer'] = np.nan
td_helper['Vendor'] = np.nan
td_helper['Employee'] = np.nan
td_helper['Class'] = np.nan
td_helper['ProductService'] = np.nan
td_helper['MemoDescription'] = 'transaction detail helper'
td_helper['Quantity'] = np.nan
td_helper['Rate'] = np.nan
td_helper['Split'] = np.nan
td_helper['InvoiceDate'] = np.nan
td_helper['AR_Paid'] = np.nan
td_helper['AP_Paid'] = np.nan
td_helper['Clr'] = np.nan
td_helper['CheckPrinted'] = np.nan
td_helper['CheckPrinted'] = np.nan
td_helper['Debit'] = 0
td_helper['Credit'] = 0
td_helper['id'] = np.nan


# print(td_helper)
connection.execute("DELETE FROM "+db+".general_ledger WHERE MemoDescription = 'transaction detail helper'")

td_helper.to_sql('general_ledger',engine,if_exists='append',index=False,chunksize=10000,method='multi')
print('Inserted GL Helper Data | Time: '+str(datetime.datetime.now()-start_time))
connection.close()

Inserted GL Helper Data | Time: 0:00:09.229466

In [5]:
# QBO Balance Sheet Cumulative Sum
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import numpy as np

db='copper_cow_coffee_qbo'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

start_time=datetime.datetime.now()

df = pd.read_sql("SELECT MonthYear,Category,QBAccount,MappedAccount Account,SUM(Amount) Amount FROM "+db+".balance_sheet_refactored bsrv \
GROUP BY MonthYear,Category,QBAccount,MappedAccount \
ORDER BY QBAccount,MonthYear",connection)

# print(df)

connection.execute("TRUNCATE TABLE "+db+".balance_sheet_cumsum")

# df.to_csv('presum.csv')

cum_df = df.groupby(['MonthYear','Category','QBAccount','Account'],dropna=False).sum().groupby('QBAccount').cumsum().reset_index()
# cum_df.to_csv('cumsum.csv')
# print(cum_df)
cum_df.to_sql('balance_sheet_cumsum',engine,if_exists='append',index=False,chunksize=10000,method='multi')
print('Inserted BS Cumulative Sum | Time: '+str(datetime.datetime.now()-start_time))
connection.close()

Inserted BS Cumulative Sum | Time: 0:00:03.552237

In [7]:
# QBO AR
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import numpy as np
import os

db='copper_cow_coffee_qbo'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('/home/'+getpass.getuser()+'/data_loads/qb_files/')

start_time=datetime.datetime.now()

df = pd.read_excel('CCCAR.xlsx',skiprows=4,parse_dates=['Date','DueDate'],
                   names=['del1','Date','TransactionType','Num','Customer','DueDate','Amount','OpenBalance'])
date_df = pd.read_excel('CCCAR.xlsx',parse_dates=['Date','DueDate'],
                   names=['del1','Date','TransactionType','Num','Customer','DueDate','Amount','OpenBalance'])[:2]
as_of = datetime.datetime.strptime(date_df.del1[1][6:],'%B %d, %Y').date()
del df['del1']
df.dropna(subset=['TransactionType'],inplace=True)
df['as_of'] = as_of
connection.execute("DELETE FROM "+db+".accounts_receivable WHERE as_of = '"+str(as_of)+"'")
df.to_sql('accounts_receivable',engine,if_exists='append',index=False,chunksize=10000,method='multi')
print('Inserted AR '+str(as_of)+' | Time: '+str(datetime.datetime.now()-start_time))

Inserted AR 2022-09-30 | Time: 0:00:00.561893

In [11]:
# QBO AP
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import numpy as np
import os

db='copper_cow_coffee_qbo'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('/home/'+getpass.getuser()+'/data_loads/qb_files/')

start_time=datetime.datetime.now()

df = pd.read_excel('CCCAP.xlsx',skiprows=4,parse_dates=['Date','DueDate'],
                   names=['del1','Date','TransactionType','Num','Vendor','DueDate','Amount','OpenBalance'])
date_df = pd.read_excel('CCCAP.xlsx',parse_dates=['Date','DueDate'],
                   names=['del1','Date','TransactionType','Num','Vendor','DueDate','Amount','OpenBalance'])[:2]
as_of = datetime.datetime.strptime(date_df.del1[1][6:],'%B %d, %Y').date()
del df['del1']
df.dropna(subset=['TransactionType'],inplace=True)
df['as_of'] = as_of
connection.execute("DELETE FROM "+db+".accounts_payable WHERE as_of = '"+str(as_of)+"'")
df.to_sql('accounts_payable',engine,if_exists='append',index=False,chunksize=10000,method='multi')
print('Inserted AP '+str(as_of)+' | Time: '+str(datetime.datetime.now()-start_time))

Inserted AP 2022-09-30 | Time: 0:00:00.604945

In [ ]:
# manual gl refresh
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import numpy as np
import os

db='copper_cow_coffee_qbo'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('/home/'+getpass.getuser()+'/data_loads/qb_files/')

files = [
#     ['CCC1.xlsx','2016-01-01','2017-12-31'],
#     ['CCC2.xlsx','2018-01-01','2018-12-31'],
#     ['CCC3.xlsx','2019-01-01','2019-12-31'],
#     ['CCC4.xlsx','2020-01-01','2020-06-30'],
#     ['CCC5.xlsx','2020-07-01','2020-09-30'],
#     ['CCC6.xlsx','2020-10-01','2020-11-30'],
#     ['CCC7.xlsx','2020-12-01','2020-12-31'],
#     ['CCC8.xlsx','2021-01-01','2021-02-28'],
#     ['CCC9.xlsx','2021-03-01','2021-03-31'],
#     ['CCC10.xlsx','2021-04-01','2021-04-30'],
#     ['CCC11.xlsx','2021-05-01','2021-05-31'],
#     ['CCC12.xlsx','2021-06-01','2021-06-30'],
#     ['CCC13.xlsx','2021-07-01','2021-10-31'],
#     ['CCC14.xlsx','2021-11-01','2021-12-31'],
    ['CCC15.xlsx','2022-01-01','2022-02-28'],
    ['CCC16.xlsx','2022-03-01','2022-04-30'],
    ['CCC17.xlsx','2022-05-01','2022-06-30'],
    ['CCC18.xlsx','2022-07-01','2022-08-31'],
    ['CCC19.xlsx','2022-09-01','2022-10-31']
]

for i in range(len(files)):
    start_time=datetime.datetime.now()
    df = pd.read_excel(files[i][0],parse_dates = ['Date'],skiprows=5,
                      names = ['del1','Num','TransactionType','Date','Name','Memo','AccountNumber','AccountName','Item','Quantity','Class','Debit','Credit','Amount'])
    del df['del1']
    del df['Amount']
    df.dropna(subset=['Date'],inplace=True)
    connection.execute("DELETE FROM "+db+".general_ledger WHERE `Date` BETWEEN '"+files[i][1]+"' AND '"+files[i][2]+"'")
    loop_count = 0
    while loop_count < 10:
        try:
            df.to_sql('general_ledger',engine,if_exists='append',index=False,chunksize=1000)
            break
        except:
            loop_count=loop_count+1
            print('Could not load '+files[i][0]+' in '+str(loop_count)+' tries. Retrying...')
            continue
    print('Loaded '+files[i][0]+' | Time: '+str(datetime.datetime.now()-start_time))
connection.close()