In [1]:
import pandas as pd
import psycopg2
import datetime
import io
import os
from sqlalchemy import create_engine

os.chdir('/home/'+getpass.getuser()+'/data_loads/qb_files/')

engine = create_engine('postgresql://acrumaster:Acru50lut10n5@acrupostgres.cnqsc4hrznze.us-west-2.rds.amazonaws.com:5432/postgres')
connection = engine.connect()

# etl income table
df = pd.read_csv('IncomeforExport-148.csv',parse_dates=['date'],low_memory=False,
                 names=['account_type','transaction_type','date','document_number','entity_name','account_number','account_name','account_name_gl_style','item','item_name','item_description_sales','item_description_purchase','primary_sales_rep','quantity','amount','class_name'])
date_to_del = [datetime.datetime.strptime(date.split(' - ')[0],'%B %d, %Y').strftime('%Y-%m-%d') for date in df['account_type'][2].split(' - ')]
df.dropna(subset=['date'],inplace=True)
df = df[1:].reset_index(drop=True)
for col in ['amount','quantity']:
    df[col]=df[col].str.replace('$','').str.replace(',','').str.replace(')','').str.replace('(','-')
connection.execute("DELETE FROM revair_netsuite.income WHERE \"date\" BETWEEN '"+date_to_del[0]+"' AND '"+date_to_del[1]+"'")
df.to_sql('income',engine,if_exists='append',index=False,schema='revair_netsuite',chunksize=10000,method='multi')

# etl account
df_insert = df.drop_duplicates('account_name_gl_style')[['account_type','account_name_gl_style']]
connection.execute("DELETE FROM revair_netsuite.account WHERE account_type = '"+str(df_insert['account_type'].unique()[0])+"'")
df_insert.to_sql('account',engine,if_exists='append',index=False,schema='revair_netsuite',chunksize=10000,method='multi')

C:\Users\Ben\anaconda3\lib\site-packages\ipykernel_launcher.py:21: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [2]:
import pandas as pd
import psycopg2
import datetime
import io
import os
from sqlalchemy import create_engine

os.chdir('/home/'+getpass.getuser()+'/data_loads/qb_files/')

engine = create_engine('postgresql://acrumaster:Acru50lut10n5@acrupostgres.cnqsc4hrznze.us-west-2.rds.amazonaws.com:5432/postgres')
connection = engine.connect()

df = pd.read_csv('COGSforExport624.csv',parse_dates=['date'],low_memory=False,
                 names=['account_type','transaction_type','date','document_number','entity_name','account_number','account_name','account_name_gl_style','item','item_name','item_description_sales','item_description_purchase','primary_sales_rep','quantity','amount','class_name'])
date_to_del = [datetime.datetime.strptime(date.split(' - ')[0],'%B %d, %Y').strftime('%Y-%m-%d') for date in df['account_type'][2].split(' - ')]
df.dropna(subset=['date'],inplace=True)
df = df[1:].reset_index(drop=True)
for col in ['amount','quantity']:
    df[col]=df[col].str.replace('$','').str.replace(',','').str.replace(')','').str.replace('(','-')
# print(df)
connection.execute("DELETE FROM revair_netsuite.cogs WHERE \"date\" BETWEEN '"+date_to_del[0]+"' AND '"+date_to_del[1]+"'")
df.to_sql('cogs',engine,if_exists='append',index=False,schema='revair_netsuite',chunksize=10000,method='multi')

# etl account
df_insert = df.drop_duplicates('account_name_gl_style')[['account_type','account_name_gl_style']]
connection.execute("DELETE FROM revair_netsuite.account WHERE account_type = '"+str(df_insert['account_type'].unique()[0])+"'")
df_insert.to_sql('account',engine,if_exists='append',index=False,schema='revair_netsuite',chunksize=10000,method='multi')

C:\Users\Ben\anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [3]:
import pandas as pd
import psycopg2
import datetime
import io
import os
from sqlalchemy import create_engine

os.chdir('/home/'+getpass.getuser()+'/data_loads/qb_files/')

engine = create_engine('postgresql://acrumaster:Acru50lut10n5@acrupostgres.cnqsc4hrznze.us-west-2.rds.amazonaws.com:5432/postgres')
connection = engine.connect()

df = pd.read_csv('ExpenseforExport-618.csv',parse_dates=['date'],low_memory=False,
                 names=['account_type','transaction_type','date','document_number','entity_name','account_number','account_name','account_name_gl_style','item','item_name','item_description_sales','item_description_purchase','primary_sales_rep','quantity','amount','class_name'])
date_to_del = [datetime.datetime.strptime(date.split(' - ')[0],'%B %d, %Y').strftime('%Y-%m-%d') for date in df['account_type'][2].split(' - ')]
df.dropna(subset=['date'],inplace=True)
df = df[1:].reset_index(drop=True)
for col in ['amount','quantity']:
    df[col]=df[col].str.replace('$','').str.replace(',','').str.replace(')','').str.replace('(','-')
# print(df)
connection.execute("DELETE FROM revair_netsuite.expense WHERE \"date\" BETWEEN '"+date_to_del[0]+"' AND '"+date_to_del[1]+"'")
df.to_sql('expense',engine,if_exists='append',index=False,schema='revair_netsuite',chunksize=10000,method='multi')

# etl account
df_insert = df.drop_duplicates('account_name_gl_style')[['account_type','account_name_gl_style']]
connection.execute("DELETE FROM revair_netsuite.account WHERE account_type = '"+str(df_insert['account_type'].unique()[0])+"'")
df_insert.to_sql('account',engine,if_exists='append',index=False,schema='revair_netsuite',chunksize=10000,method='multi')

C:\Users\Ben\anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [4]:
import pandas as pd
import psycopg2
import datetime
import io
import os
from sqlalchemy import create_engine

os.chdir('/home/'+getpass.getuser()+'/data_loads/qb_files/')

engine = create_engine('postgresql://acrumaster:Acru50lut10n5@acrupostgres.cnqsc4hrznze.us-west-2.rds.amazonaws.com:5432/postgres')
connection = engine.connect()

df = pd.read_csv('opex_categories.csv')
print(df)
df.to_sql('opex_categories',engine,if_exists='append',index=False,schema='revair_netsuite',chunksize=10000,method='multi')

    account_type opex_classification  \
0         Income                 NaN
1         Income                 NaN
2         Income                 NaN
3         Income                 NaN
4         Income                 NaN
..           ...                 ...
98       Expense      Administration
99       Expense      Administration
100      Expense      Administration
101      Expense                 NaN
102      Expense                 NaN

                           account_name_gl_style
0               30100 - Sales - Direct Equipment
1      30101 - Sales - Direct Equipment - Canada
2          30102 - Sales - Direct Equipment - UK
3                         30200 - Sales - Retail
4                    30300 - Sales - Accessories
..                                           ...
98                             60090 - Utilities
99                    60091 - Tenant Improvement
100            75100 - Other Expenses / (Income)
101                     75200 - Interest Expense
102  75300 - Depreciation / Amortization Expense

[103 rows x 3 columns]